.header {
  background: var(--dark);
  color: var(--light);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calc(1rem + .25vw);
  padding: 0 var(--padding);

  &__logo {
    font-size: 1.75em;
    font-family: var(--serif);
    margin: var(--padding) 0;
  }

  &__nav {
    font-size: 1.25em;
    max-width: 100%;
    overflow: auto;
    margin: var(--padding) 0;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
    }

    &-item {
      margin: 0 .5rem;
      text-transform: capitalize;
    }
  }
}