@import './_functions.module.scss';

.text {
  // text-align: justify;
  font-size: 1.5rem;
  line-height: 1.5;
  max-width: var(--readable);
  padding: 0 var(--padding);
  margin: 0 auto;
  margin-bottom: calc(3 * var(--padding));

  .header {
    text-align: center;
    font-size: calc(2rem + 2vw);
    font-family: var(--serif);
    text-transform: uppercase;
    letter-spacing: .25em;
    color: var(--highlight);
    margin: calc(4 * var(--padding)) var(--padding) var(--padding) var(--padding);
  
    &:after {
      content: '';
      display: block;
      margin: var(--padding) auto 0 auto;
      height: .5rem;
      width: 1em;
      background: var(--gray);
    }
  }

  &--with-image {
    text-align: left;

    .header {
      text-align: left;
      margin-left: 0;
      
      &:after {
        margin-left: 0;
      }
    }

    img {
      display: none;
    }

    @include breakpoint {
      overflow: hidden;
      max-width: 80%;
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: auto auto;
      grid-template-areas: 
        'image header'
        'image text';
      grid-column-gap: calc(2 * var(--padding));
      margin-top: calc(2 * var(--padding));

      .header {
        grid-area: header;
      }

      p {
        grid-area: text;
      }

      img {
        grid-area: image;
        width: 100%;
        display: block;
        justify-self: end;
        align-self: center;
      }
    }
  }
}