@import './_functions.module.scss';

.partner {
  padding: 0 var(--padding);
  margin-bottom: var(--verticalSpacing);

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint {
    display: flex;
    align-items: center;

    .partner__image {
      flex: 1;  
      margin: 0 var(--verticalSpacing) 0 0;
    }
    
    &:nth-child(even) {
      flex-direction: row-reverse;
      position: relative;
      
      &:after {
        content: '';
        background-color: var(--light);
        opacity: .5;
        position: absolute;
        z-index: -1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
  
      .partner__image {
        margin: 0 0 0 var(--verticalSpacing);
      }
    }
  }

  &__image {

    img {
      width: 100%;
    }
  }

  &__text {
    flex: 2;
  }
}