@import './_functions.module.scss';

.partner {
  padding: 0 var(--padding);
  margin-bottom: calc(2 * var(--padding));

  &:last-child {
    margin-bottom: 0;
  }

  @include breakpoint {
    display: flex;
    align-items: center;
    
    &:nth-child(even) {
      flex-direction: row-reverse;
  
      .partner__image {
        margin: 0 0 0 calc(2 * var(--padding));
      }
    }
  }

  &__image {
    flex: 1;  
    margin: 0 calc(2 * var(--padding)) 0 0;

    img {
      width: 100%;
    }
  }

  &__text {
    flex: 2;
    margin: var(--padding) 0;
  }

  &__description {
    padding-left: 0;
    padding-right: 0;
  }
}