.thumbnail {
  display: block;
  // height: 300px;
  // width: 300px;
  cursor: pointer;

  &__image {
    display: block;
    height: 100%;
    width: 100%;
  }
}

.lightbox {
  transition: opacity var(--transition);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &--enterActive
  &--enterDone {
    opacity: 1;
  }

  &--exitActive {
    opacity: 0;
  }

  &__content {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }

  &__image {
    max-height: 75vh;
    max-width: 80vw;
    cursor: initial;
  }

  &__text {
    color: var(--light);
    font-style: italic;
    text-align: center;
  }

  &__title {
    font-size: 1.5em;
    font-style: normal;
  }
  
  &__overlay {
    background: var(--gray);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    cursor: pointer;
    opacity: .75;

    @supports (mix-blend-mode: multiply) {
      opacity: .9;
      mix-blend-mode: multiply;
    }
  }
}